{% extends "base.html" %}

{% block title %}
Add Announcement
{% endblock %}

{% block content %}

<div class="form-container">
<form method="POST" enctype="multipart/form-data">

    <label>Title</label><br>
    <input type="text" name="title" required><br><br>

    <label>Photo</label><br>
    <input type="file" name="photo"><br><br>

    <label>Message</label><br>
    <textarea name="message" required></textarea><br><br>

    <button type="submit">
        Save Announcement
    </button>

</form>
</div>
{% endblock %}