<!DOCTYPE html>
<html>
<head>
    <title>Add Announcement</title>
</head>
<body>

<h1>Add Announcement</h1>

<form method="POST" enctype="multipart/form-data">

    <label>Title</label><br>
    <input type="text" name="title" required><br><br>

    <label>Photo</label><br>
    <input type="file" name="photo"><br><br>

    <label>Message</label><br>
    <textarea name="message" required></textarea><br><br>

    <button type="submit">
        Save Announcement
    </button>

</form>

</body>
</html>