{% extends "base.html" %}

{% block title %}
Add Course
{% endblock %}

{% block content %}

<a href="/admin/courses/add">
    Add New Course
</a>

<div class="search-container">

    <form method="GET" action="/admin/courses">

        <input
            type="text"
            name="search"
            placeholder="Search by course name, teacher or duration..."
            value="{{ search }}"
        >

        <button type="submit">
            Search
        </button>

        {% if search %}
            <a href="/admin/courses" class="btn">
                Clear
            </a>
        {% endif %}

    </form>

</div>
<hr>

<table border="1">

<tr>
    <th>ID</th>
    <th>Course</th>
    <th>Duration</th>
    <th>Teacher</th>
    <th>Fees</th>
    <th>Photo</th>
    <th>Actions</th>
</tr>

{% for course in courses %}

<tr>

<td>{{ course.course_id }}</td>

<td>{{ course.course_name }}</td>

<td>{{ course.duration }}</td>

<td>{{ course.teacher }}</td>

<td>{{ course.fees }}</td>

<td>

{% if course.photo %}
<img src="{{ url_for('static',
filename='uploads/courses/' + course.photo) }}"
width="100">
{% endif %}

</td>

<td>

<a href="/admin/courses/edit/{{ course.course_id }}">
Edit
</a>

|

<a href="/admin/courses/delete/{{ course.course_id }}"
onclick="return confirm('Delete this course?')">
Delete
</a>

</td>

</tr>

{% endfor %}

</table>

{% endblock %}