{% extends "base.html" %}

{% block title %}
Edit Student
{% endblock %}

{% block content %}

<div class="form-container">
<form method="POST">

    <label>Full Name</label><br>
    <input type="text"
           name="full_name"
           value="{{ student.full_name }}"
           required><br><br>

    <label>Age</label><br>
    <input type="number"
           name="age"
           value="{{ student.age }}"
           required><br><br>

    <label>Sector</label><br>
    <input type="text"
           name="sector"
           value="{{ student.sector }}"
           required><br><br>

    <label>Date of Birth</label><br>
    <input type="date"
           name="date_of_birth"
           value="{{ student.date_of_birth }}"
           required><br><br>

    <label>Phone</label><br>
    <input type="text"
           name="phone"
           value="{{ student.phone }}"
           required><br><br>

    <button type="submit">
        Update Student
    </button>

</form>
</div>

{% endblock %}