{% extends "base.html" %}

{% block title %}
Edit Announcement
{% endblock %}

{% block content %}

<div class="form-container">
<form method="POST">

    <label>Title</label><br>
    <input type="text"
           name="title"
           value="{{ announcement.title }}"
           required><br><br>

    <label>Message</label><br>
    <textarea name="message" required>{{ announcement.message }}</textarea>
    <br><br>

    <button type="submit">
        Update Announcement
    </button>

</form>
</div>

{% endblock %}